@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
  padding-top: 80px;
}

.App>h1 {
  margin-bottom: 5px;
}

.App>h2 {
  margin-top: 5px;
  opacity: 0.7;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.fetch-button {
  min-width: 150px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #36caa5;
  border: none;
  color: #fff;
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: #28d1d1;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  background: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  color: #333;
  flex-basis: width;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.book h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.book h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

.b-main-container {
  height: 100%;
  width: 100%;
}

.b-white-container {
  display: flex;
  position: relative;
  height: fit-content;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
}

.b-grey-container {
  background-color: #f8f8f8;
  height: fit-content;
}

.b-logo {
  background-image: url('./b-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 123px;
  width: 97%;
  padding: 10px;
  margin-left: 3%;
}

.b-intro-container {
  display: inherit;
  flex-direction: column;
  width: 100%;
}

.b-fetch-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.b-dream-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.b-note-container {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.b-note-container h1 {
  font-size: 30px;
}

.b-note-container p {
  color: #878181;
  font-size: 20px;
}

.b-reading-container {
  width: 100%;
}

.b-reading-container img {
  max-width: 100%;
  width: 100%;
}

.b-data-container {
  text-align: center;
}

@media (min-width: 700px) {
  .book {
    width: 47%;
  }
  .b-note-container h1 {
    font-size: 40px;
  }
  .b-note-container p {
    font-size: 25px;
  }
}

@media (min-width: 1000px) {
  .book {
    width: 47%;
  }
  .b-logo {
    position: absolute;
    width: 50%;
    height: 150px;
    left: 8.5%;
    top: 0;
  }
  .b-note-container {
    padding: 10px;
    padding-top: 50px;
    padding-left: 6.8rem;
    text-align: left;
  }
  .b-reading-container {
    padding: 10px;
  }
  .b-dream-container {
    flex-direction: row-reverse;
  }
  .b-note-container h1 {
    font-size: 50px;
  }
  .b-note-container p {
    font-size: 20px;
  }
  .b-intro-container {
    padding-top: 80px
  }
}

@media (min-width: 1300px) {
  .book {
    width: 31%;
  }
}